/*_____________HEADER________________*/
header {
	border: 1px solid black;
}

/*_____________NAV LINKS________________*/
#nav-list {
	list-style-type: none;
	text-align: center;
}
#nav-list li {
	display: inline-block;
	margin: 0 5px;
}
/*_____________MAIN________________*/
.disabled {
	color: gray;
}
a span.disabled {
	color: purple; /* COULD NOT FIGURE OUT CORRECT WAY TO SELECT PURPLE */
}
.active {
	color: yellow;
}
/*-------------SELECTORS------------*/
div.parent div:first-child {
	color: red;
}
div.parent div:first-child ~ div {
	color: blue;
}
div.parent div:first-child + h4{
	background-color: red;
}
div.parent div:first-child ~ div + h4{
	background-color: blue;
}
.grandparent > h4 {
	border: 1px solid black;
	border-radius: 10%;
}