/*_____________HEADER________________*/
header {
	border: 1px solid black;
}

/*_____________NAV LINKS________________*/
#nav-list {
	list-style-type: none;
	text-align: center;
}
#nav-list li {
	display: inline-block;
	margin: 0 5px;
}
/*_____________MAIN________________*/
.disabled {
	color: gray;
}
a[class="disabled"] {
	color: purple;
}
.active {
	color: yellow;
}
/*-------------SELECTORS------------*/
div.parent div:first-child {
	color: red;
}
div.parent div:first-child ~ div {
	color: blue;
}